[submodule "themes/generic-parent"]
	path = themes/generic-parent
	url = git@github.com:Clickadelic/generic-parent.git
	ignore = all
[submodule "themes/generic-child"]
	path = themes/generic-child
	url = git@github.com:Clickadelic/generic-child.git
	ignore = all
[submodule "plugins/generic-plugin"]
	path = plugins/generic-plugin
	url = git@github.com:Clickadelic/generic-plugin.git
	ignore = all
